* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  max-width: 1440px;
  margin: 0 auto;
}

container {
  justify-content: center;
}
.boxs {
  /* display: grid; */
}
.box-a {
  /* padding: 20px;
  margin: 0;
  gap: 20px; */
  position: relative;
  display: inline-block;
}
